<div>
  <h2>Detalles del Producto</h2>
   <div>
    <p>Titulo: {{product.title}}</p>
    <p>Descripcion: {{product.description}}</p>
    <p>Codigo: {{product.code}}</p>
    <p>Precio: ${{product.price}}</p>
    <p>Estado: {{product.status}}</p>
    <p>Stock: {{product.stock}}</p>
    <p>Categoria: {{product.category}}</p>
    <button class="add-item" data-id="{{product._id}}">Agregar</button>
  </div>
</div>
